body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

form {
  background: #ca7f7f;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 10%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background: #4caf50;
  color: #070707;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

h2 {
  color: #333;
}
